# Get Data Using API - no key

API stands for Application Programming Interface. On a basic level, it allows a user to "talk" to another server and request information. The API receives the request and responds back with the information.

In [287]:
import requests  #similar to urllib, this library allows a computer to ping a website
import json      #library to handle JSON formatted data
import pandas as pd  #library to handle the dataframe

### NASA Earth Meteorite Landings

Use the URL from NASA's Open Data Portal (https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh). API to request data and bring it in as JSON. Then extract the following features from that data to create a dataframe(columns should be in the order listed below):
    ID
    Year
    Fall
    Name
    Name Type
    Mass
    Latitude
    Longitude
    Type

In [288]:
#URL to TVMaze API
url = r"https://data.nasa.gov/resource/y77d-th95.json"

In [289]:
#the get function checks to make sure that the website/server is responding back
#200 means that we're good
#https://www.restapitutorial.com/httpstatuscodes.html
resp = requests.get(url)
resp

In [307]:
#send a request to the website to return back text data from the API
#returns data as JSON string
str_data = resp.text

str_data[:1000]  #display first 1000 characters

'[{"fall":"Fell","geolocation":{"type":"Point","coordinates":[6.08333,50.775]},"id":"1","mass":"21","name":"Aachen","nametype":"Valid","recclass":"L5","reclat":"50.775000","reclong":"6.083330","year":"1880-01-01T00:00:00.000"}\n,{"fall":"Fell","geolocation":{"type":"Point","coordinates":[10.23333,56.18333]},"id":"2","mass":"720","name":"Aarhus","nametype":"Valid","recclass":"H6","reclat":"56.183330","reclong":"10.233330","year":"1951-01-01T00:00:00.000"}\n,{"fall":"Fell","geolocation":{"type":"Point","coordinates":[-113,54.21667]},"id":"6","mass":"107000","name":"Abee","nametype":"Valid","recclass":"EH4","reclat":"54.216670","reclong":"-113.000000","year":"1952-01-01T00:00:00.000"}\n,{"fall":"Fell","geolocation":{"type":"Point","coordinates":[-99.9,16.88333]},"id":"10","mass":"1914","name":"Acapulco","nametype":"Valid","recclass":"Acapulcoite","reclat":"16.883330","reclong":"-99.900000","year":"1976-01-01T00:00:00.000"}\n,{"fall":"Fell","geolocation":{"type":"Point","coordinates":[-64.95,-3'

In [308]:
#loads function reversed dictionary order
#dictionary objects are unordered in general
NASAdata = json.loads(str_data)

In [309]:
#verify that JSON object is one big dictionary
type(NASAdata)

list

In [310]:
#display the fisrt record item in the list
NASAdata[:1]

[{'fall': 'Fell',
  'geolocation': {'type': 'Point', 'coordinates': [6.08333, 50.775]},
  'id': '1',
  'mass': '21',
  'name': 'Aachen',
  'nametype': 'Valid',
  'recclass': 'L5',
  'reclat': '50.775000',
  'reclong': '6.083330',
  'year': '1880-01-01T00:00:00.000'}]

In [312]:
#display next level keys in the JSON object as per above
geolist = NASAdata[0]['geolocation']
geolist

{'type': 'Point', 'coordinates': [6.08333, 50.775]}

In [315]:
#dumps function reverses order again
#can currently see correct order of objects
print(json.dumps(NASAdata[:2],indent=4))     # display only 2 records as sample

[
    {
        "fall": "Fell",
        "geolocation": {
            "type": "Point",
            "coordinates": [
                6.08333,
                50.775
            ]
        },
        "id": "1",
        "mass": "21",
        "name": "Aachen",
        "nametype": "Valid",
        "recclass": "L5",
        "reclat": "50.775000",
        "reclong": "6.083330",
        "year": "1880-01-01T00:00:00.000"
    },
    {
        "fall": "Fell",
        "geolocation": {
            "type": "Point",
            "coordinates": [
                10.23333,
                56.18333
            ]
        },
        "id": "2",
        "mass": "720",
        "name": "Aarhus",
        "nametype": "Valid",
        "recclass": "H6",
        "reclat": "56.183330",
        "reclong": "10.233330",
        "year": "1951-01-01T00:00:00.000"
    }
]

In [297]:
#set empty lists to hold each feature's information as per above

ID = []
Year = []
Fall = []
Name = []
Name_Type = []
Mass = []
Latitude = []
Longitude = []
Type = []

In [317]:
#fill lists with data while checking for errors/exceptions in data/fields

#Create a list to hold all parsed data
NASAList = []


for NASAd in NASAdata:
    
    try: ID = NASAd['id']
    except: ID = None
    
    try: Year = NASAd['year']
    except: Year = None        
    
    try: Fall = NASAd['fall']
    except: Fall = None

    try: Name = NASAd['name']
    except: Name = None

    try: Name_Type = NASAd['nametype']
    except: Name_Type = None
    
    try: Mass = NASAd['mass']
    except: Mass = None        
    
    try: Latitude = NASAd['reclat']
    except: Latitude = None

    try: Longitude = NASAd['reclong']
    except: Longitude = None
        
    try: Type = NASAd['geolocation']['type']
    except: Type = None        
        
    #Create a ad hoc list to hold each set of data.
    tempList = []
    tempList.append(ID)
    tempList.append(Year)
    tempList.append(Fall)
    tempList.append(Name)    
    tempList.append(Name_Type)
    tempList.append(Mass)
    tempList.append(Latitude)
    tempList.append(Longitude)  
    tempList.append(Type)
    
    #store each dataset into main NASA list & repeated the FOR...LOOP
    NASAList.append(tempList)

In [319]:
#make list into a dataframe and create the associated colum names

colnames = ['ID', 'Year', 'Fall', 'Name', 
            'Name_Type', 'Mass', 'Latitude',
            'Longitude','Type']

df = pd.DataFrame(NASAList, columns=colnames)

df.head(5)    #display first 5 rows

,ID,Year,Fall,Name,Name_Type,Mass,Latitude,Longitude,Type
0,1,1880-01-01T00:00:00.000,Fell,Aachen,Valid,21,50.775000,6.083330,Point
1,2,1951-01-01T00:00:00.000,Fell,Aarhus,Valid,720,56.183330,10.233330,Point
2,6,1952-01-01T00:00:00.000,Fell,Abee,Valid,107000,54.216670,-113.000000,Point
3,10,1976-01-01T00:00:00.000,Fell,Acapulco,Valid,1914,16.883330,-99.900000,Point
4,370,1902-01-01T00:00:00.000,Fell,Achiras,Valid,780,-33.166670,-64.950000,Point